body{
  background-color: #19A1AD;
  background-image: url("data:image/svg+xml,%3Csvg width='978' height='978' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient x1='50%25' y1='.779%25' x2='50%25' y2='100%25' id='a'%3E%3Cstop stop-color='%230989B4' stop-opacity='0' offset='0%25'/%3E%3Cstop stop-color='%2353FFEE' offset='99.94%25'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cellipse fill='url(%23a)' transform='rotate(-135 489 489)' cx='489' cy='489' rx='489' ry='488' fill-rule='evenodd' opacity='.5'/%3E%3C/svg%3E"),
                    url("data:image/svg+xml,%3Csvg width='978' height='978' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient x1='50%25' y1='.779%25' x2='50%25' y2='100%25' id='a'%3E%3Cstop stop-color='%230989B4' stop-opacity='0' offset='0%25'/%3E%3Cstop stop-color='%2353FFEE' offset='99.94%25'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cellipse fill='url(%23a)' transform='scale(1 -1) rotate(45 1669.55 0)' cx='489' cy='489' rx='489' ry='488' fill-rule='evenodd' opacity='.25'/%3E%3C/svg%3E");
  background-size: 70%, 70%;
  background-repeat: no-repeat;
  background-position-x: -80%,
                          160%;
  background-position-y: 100%,
                        -70%;

  text-align: center;
  margin-top: 100px;
  font-family: 'Kumbh Sans', sans-serif;
}


.whole-container{
  background-color: white;
  display: inline-block;
  position:static;
  border-radius: 5%;
  width: 350px;

}

.top-box{
  margin: 0;
  position: relative;
}

.top-background{
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}

.middle-box{
  position: relative;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  margin-top: 30px;
}

.name{
  padding-top: 30px;
  font-weight: 600;
}

.victor{
  display: inline;
  position: absolute;
  align-items: center;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  background-color: white;
  border-width: thick;
  bottom: 110px;
  right: 120px;
}

h2{
  margin-top: 50px;
}

.age{
  color: gray;
  font-weight: 400;
}

.place{
  color: gray;
}

table{
    margin: auto;
}

.menu{
  color: gray;
  font-weight: 400;
  font-size: 0.5rem;
}

td{
  text-align: center;
  padding: 30px;

}

.num{
  font-weight: 700;
}
